<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="./../../static/js/components/reactComponent.js" type="text/babel"></script>

    <script src="./../../static/js/components/coin-component/module.js" type="module"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./../../static/js/components/vueComponent.js" type="module"></script>
</head>

<body>
    <div id="app">
        <button @click="count++">
        Count is: {{ count }}
      </button>
    </div>
    <div id="root"></div>
    <coin-component>
        <h1>PEaaPE</h1>
    </coin-component>
    <%if (mydata.length > 0) { %>
      // Do something with more than 1 recipe
      <% } %>
      <%= mydata%>
      
  
</body>

</html>