<!DOCTYPE html>
<html>
<body>
    <script src="./../../static/js/components/coin-component/module.js" type="module"></script>  
<h1>My First Heading</h1>
<p>My test first psaragraph.</p>
<div>
    <h1>h1 div</h1>
    
</div>
<coin-component>
  <h1>PEPE</h1>  
</coin-component>
</body>
</html>